_ReSharper*
[Bb]in
obj
App_Data
*.user
*.scc
*.patch
*.hg
*.sln.cache
*.orig
*.suo
*.vs10x
*.vsp
*.psess
*.docstates
TestResults
[Tt]humbs.db
*.log
*.userprefs
.DS_Store
/Source/JdSdk/*.vspscc
/Source/Build
/Source/packages

*.GhostDoc.xml
